# Introduction to Python for Biology
# Day 1

# Code Along

Let's print a message to the screen.

In [1]:
print("Transmitting Science")

Transmitting Science

`print()` is a **function**. It tells Python we want to do something (in this case, we want to print). Function names are followed by parentheses. Anything inside the parenthesis is an **argument**, which acts like an input to the function.

`"Transmitting Science"` is a **string** (meaning it represents text, not numbers), which means we surround it with quotes. You can use either single quotes or double quotes, just make sure to be consistent in your code.

In [2]:
print("Transmitting Science")
print('Transmitting Science')

Transmitting Science
Transmitting Science

What happens if we make a spelling mistake?

In [3]:
prin("Transmitting Science")

NameError: name 'prin' is not defined

Or another type of mistake?

In [4]:
print(Transmitting Science)

SyntaxError: invalid syntax (<ipython-input-4-3b9a9954990e>, line 1)

Our programs will almost never work correctly the first time, so it's good to be familiar with getting (and understanding) the errors that we get. You're in good company if you receive an error!

## Variables and Assignment

If we want to store a string and save it for later, we can store it and give it a name as a **variable** using the equals sign. We call this assigning a variable.

In [5]:
my_name = "Nichole"

Now we can use the variable name instead of the string.

In [6]:
print(my_name)

Nichole

Notice we don't use quotations around the variable name.

We can change the contents of the variable as much as we want once we've created it.

In [7]:
my_name = "Nic"

In [8]:
print(my_name)

Nic

It's a good idea to name our variables something that gives us an idea of what it contains. 

We can only use letters, numbers, and underscores for our variables names. They have to start with a letter. They also can't be a word that is already "taken" because it is built into Python already (like `print`). 

Also, they are case sensitive.

In [9]:
print(My_Name)

NameError: name 'My_Name' is not defined

## Data Types

What are the types of these variables?

In [10]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'nichole':'bennett', 'haris':'saslis'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [11]:
type(a)

int

In [12]:
type(b)

float

In [13]:
type(c)

list

In [14]:
type(d)

dict

In [15]:
type(e)

tuple

In [16]:
type(f)

dict

In [17]:
type(g)

bool

In [18]:
type(h)

bool

In [19]:
type(i)

str

And we can perform calculations using variables...

In [20]:
x = 7

In [21]:
y = 8

In [22]:
z = x * y

In [23]:
print(z)

56

In [24]:
z/x

8.0

In [25]:
# this is a modulo which returns the remainder after division
print(2%2)
print(3%2)

0
1

We can convert between data types.

In [26]:
f = 42

In [27]:
print(float(f))

42.0

In [28]:
int(3.1)

3

In [29]:
str(12)

'12'

In [30]:
name = "Nichole"
lines = 50

print("Congratulations, " + name + "! You just wrote " + lines + " lines of code.")

TypeError: can only concatenate str (not "int") to str

In [31]:
name = "Nichole"
lines = 50

print("Congratulations, " + name + "! You just wrote " + str(lines) + " lines of code.")

Congratulations, Nichole! You just wrote 50 lines of code.

## Comments

We can also write bits of text in a program that is notes for us to read that the computer won't execute. This type of line is called a comment. In Python, we use the hash symbol to make a comment.

In [32]:
# this line of text will be ignored by the computer
print("comments are useful for documenting your code")

comments are useful for documenting your code

Comments might contain some explanation of what a piece of code does. This is useful for communicating with others (including your future self!)

## Lists

Let's make a list that contains the days of the week. A **list** is a type of data structure that can hold multiple pieces of information. It can hold multiple data types. It is also a **mutable** data type, which means we can change it.

In [33]:
week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

Each individual item in a list is called an **element.** To get an element from the list, write the name of the list followed by the **index** of the element in square brackets. (Remember, Python starts counting at 0)

In [34]:
week[1]

'Tuesday'

We can replace a list element using this indexing.

In [35]:
week[1] = "Twos Day"
print(week)

['Monday', 'Twos Day', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

If you don't know the index of an element, you can find it out by using the `.index()` **method**. (A method is like a function--remember `print()`?--but it is associated with a certain **object** in Python, in this case lists)

In [36]:
week.index("Friday")

4

We can also use negative numbers as the index to count backwards from the end.

In [37]:
week[-1]

'Sunday'

If we want to get more than one element from the list, we can give a start and stop index separated by a colon. These will be inclusive at the start and exclusive at the end (starting index up to, not including ending index).

In [38]:
weekends = week[5:7]

In [39]:
print(weekends)

['Saturday', 'Sunday']

If we want to add an element to a list, we can use the `.append()` method. (Note: the `.extend()` method does the same thing but takes a list as its argument rather than a single element)

In [40]:
week.append("Blursday")

In [41]:
print(week)

['Monday', 'Twos Day', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Blursday']

We can check the length of the list using the `len()` function.

In [42]:
print(len(week))

8

We can also use the `.remove()` method to take elements off.

In [43]:
week.remove("Blursday")
print(week)

['Monday', 'Twos Day', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

We can also **concatenate** (add together) two lists using the plus symbol. This doesn't change either of the original lists.

In [44]:
fruits = ["apples", "oranges", "grapes"]

In [45]:
vegetables = ["kale", "pumpkin", "corn"]

In [46]:
fruits_and_vegetables = fruits + vegetables

In [47]:
print(fruits_and_vegetables)

['apples', 'oranges', 'grapes', 'kale', 'pumpkin', 'corn']

We can sort our list. This does change the original list. By default, Python sorts strings in alphabetical order and numbers in ascending numerical order.

In [48]:
fruits_and_vegetables.sort()
print(fruits_and_vegetables)

['apples', 'corn', 'grapes', 'kale', 'oranges', 'pumpkin']

Same with `.reverse()`.

In [49]:
week.reverse()
print(week)

['Sunday', 'Saturday', 'Friday', 'Thursday', 'Wednesday', 'Twos Day', 'Monday']

In [50]:
week.reverse()

In [51]:
week[1] = "Tuesday"

# Independent Work

### List of Students

Create a list with the first names of some or all of the students in our class in lowercase letters

In [1]:
# Enter Student names here:
student_names = []
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

Print the length of the list

In [2]:
print(len(student_names))

10

Print the first five names on the list.

In [3]:
print(student_names[0:5])

['s1', 's2', 's3', 's4', 's5']

Print the last student and the first student on the list.

In [4]:
print(student_names[-1], student_names[0])

s10 s1

Add a new student to the list. (If you are not on the list, add yourself)

In [5]:
student_names.append("nichole")

Remove yourself from the list.

In [6]:
student_names.remove("nichole")
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

### Using the Python documentation and your Googling skills, find a list method that allows you to insert an element at a specified position.

In [7]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

### Bonus: Print out each element of the list of student names with the first letter capitalized.

In [10]:
# note this solution doesn't use loops but you could certainly have solved it with one if you know those

print(student_names[0].capitalize())
print(student_names[1].capitalize())
print(student_names[2].capitalize())
print(student_names[3].capitalize())
print(student_names[4].capitalize())
print(student_names[5].capitalize())
print(student_names[6].capitalize())
print(student_names[7].capitalize())
print(student_names[8].capitalize())
print(student_names[9].capitalize())

# notice how repetitive this is...tomorrow loops will help us write this in a shorter way

S1
S2
S3
S4
S5
S6
S7
S8
S9
S10

In [12]:
# another way to do this--strings are also like lists!

print(student_names[0][0].upper()+ student_names[0][1:])
print(student_names[1][0].upper()+ student_names[1][1:])
print(student_names[2][0].upper() + student_names[2][1:])
print(student_names[3][0].upper() + student_names[3][1:])
print(student_names[4][0].upper() + student_names[4][1:])
print(student_names[5][0].upper()+ student_names[5][1:])
print(student_names[6][0].upper() + student_names[6][1:])
print(student_names[7][0].upper()+ student_names[7][1:])
print(student_names[8][0].upper()+ student_names[8][1:])
print(student_names[9][0].upper()+ student_names[9][1:])

S1
S2
S3
S4
S5
S6
S7
S8
S9
S10

### Finished early and want more? Check out Codecademy's Python course to brush up on syntax. https://www.codecademy.com/learn/learn-python-3