# Introduction to Python for Biology
# Day 2

# Code Along

## Special Characters

If we want to add a new line when we print something out, we'll have to use a special character `\n`

There are some other special characters that we use when working with strings in Python. They all have the backslash followed by a letter. For example, you may also use the `\t` (tab) character. Note that we don't have to add spaces in between.

## String Manipulation

If we want to glue together two strings, we can **concatenate** them using the `+` (plus) symbol.

We often concatenate in a print statement (you can sometimes also use commas).

Like we saw with lists yesterday, strings have a lot of built-in methods (functions that go along with them). Remember string methods show up after the name of the string variable and have parentheses after them. 


For example, there is a method `.lower()` that will change a string to all lowercase letters. This doesn't change the original variable. It returns a copy of the variable in lower case (that you can save to a new variable).

Another useful string manipulation method is `.replace()`. It takes two arguments (both strings) and will return a copy of the original variable (so save it if you want to use it again).

Remember how we pulled out items from a list yesterday using their indices? We can do the same with a string to extract a substring. Remember that Python starts counting at 0.

If we don't include a second number, we'll get all of the letters up until the end of the string.

Often we will need to count the number of times some pattern in a string occurs in biology. `.count()` can help us count how many times a substring occurs in a string. It takes the substring as an argument and returns a number.

In [15]:
train = "chugachugachugachugachugachugachugachugachugachugachugachoochoo"

If we want to find the location of the substrings, we can use `.find()`. It takes a single string argument and returns a number that is the position that substring first appears in the string.

Both `.count()` and `.find()` can only find exact matches. This doesn't work great for variable site pattern searches, but we'll learn regular expressions later (which will help us with that).

Another thing that we might want to do with strings is split them up into pieces. We can split a string into items in a list using `.split()` and then be able to iterate over it. `.split()` takes a single argument which is the character we want to split on (we call this the **delimiter.**)

In [22]:
words = "red,green,blue,yellow"

## Reading Text from a File

As biologists, we often need to read in text from a file as part of a pipeline. Let's learn how to use Python to interact with files we have.

What kinds of text files do you use in your work? How is the data formatted?

Before we can read a file, we have to open it. This creates a file object that we can give a variable name.

Once we've opened the file, we can read it and then treat it sort of like a string. These file contents are different than the file object and from the name of the file. Confusing these is a common cause of errors.

We have newlines at the end of a file we read in, and we can strip them off using the `.rstrip()` method which takes the character you'd like to remove as its argument.

Commonly, we'll do this all in one line. You can string together Python methods. 

What is the best way to write it? The easiest way for you to understand and read it. If it makes more sense for you to write it out line by line for readability, go ahead. I often write my code line by line to start with and shorten it up in future passes.

## Iterating Over Lines of Text in a File

Remember loops? We can treat file objects like lists and loop over them, with every line as an individual element. This is super useful if we need to process a file line by line.

Make sure you loop over the file object, not the contents of the file (that you got from `.read()`. You'll know you've messed this up if you just get a single character for each line. It is helpful to ask yourself if you want to read your file in as one big chunk (in which case you use use `.read()`) or if you want to read your file in line by line (in which case you should loop over the file object).

Another thing to watch out for is looping over the same file object twice. You may have run into this before if you tried to rerun code from above because file objects are exhaustible. Python remembers that it is at the end of the file once you've looped over it, so it lets you know there are no more lines. You can close and reopen the file if you want to loop over it again or (better idea) you can read the contents into a list and iterate over the list multiple times without a problem. 

The `.readlines()` method, which is used on file objects, will read the lines of a file into a list.

First we will store a list of lines in the file.

Then we can do stuff with the list by looping over it.

## Writing to a File

Let's take a moment and look at the Python documentation (either by Googling or by using cmd/ctrl + tab) to try to figure out how to use the `open()` function to write to a file. 

We see that we can use the second (optional) argument version of the `open()` function and use "w" for writing. 

This second argument can be "r" for reading (it is this by default if we leave it off), "w" for writing", or "a" for appending. "w" will overwrite an existing file, while "a" will add new data to the end of the file without removing content. (If the file doesn't exist, both "w" and "a" do the same thing).

Now that we've opened a file for writing, we can use the `.write()` method to write some text to it. This method is a lot like print and takes a string as an argument. (It can also take any function that would return a string.)

If we check the folder we are currently working in, we can see we now have a new file with the name we gave it. Let's open it and check the file contents.

## Closing Files

We'll also need to call the `.close()` method on the file when we are done reading to it or writing to it. (Note that `.close()` is a method and `open()` is a function). This will be a good habit to have and will prevent errors that are hard to track down.

## Pandas Library

* A data analysis library — **Pan**el **Da**ta **S**ystem.
* Created by Wes McKinney in 2009.
* Implemented in highly optimized Python/Cython.
* Like Excel or R for Python!

### Pandas is used for

* Cleaning data/munging.
* Exploratory analysis.
* Structuring data for plots or tabular display.
* Joining disparate sources.
* Modeling.
* Filtering, extracting, or transforming.

### Importing Pandas

Import Pandas at the top of your notebook. Give it the nickname **pd** so you don't have to keep typing "pandas." (But you can nickname it anything or leave out the nickname)

### Loading a CSV as a DataFrame

Pandas can load many types of files, but one of the most common types is .csv (comma separated values).

This creates a Pandas object called a **DataFrame.**  

DataFrames are powerful containers that have lots of built-in functions for exploring and manipulating your data.

### Exploring the data using DataFrames

#### Use .head() to examine the top of the DataFrame

### Use .tail() to examine the bottom

#### The .shape property will tell you how many rows and columns you have

#### You can look up the names of your columns using the .columns property.

#### You can transpose the data using .T
Note that we don't affect the original variable in this way.

#### You can access a specific column with bracket syntax (like with dictionaries) using the column's string name.

#### You can also access it using dot notation. (When might this not work?)

Notice that this looks a little different than our DataFrame above. That is because it is a Series object. It's a little different than a Dataframe. 

**What's the difference between Pandas' Series and DataFrame objects?**  
Essentially, a Series object contains the data for a single column, and a DataFrame object is a matrix-like container for those Series objects that comprise your data. They mostly act like one another, but occasionaly you'll run into methods that only work for one.

#### Examining Your Data With .info()  
Provides information about:

* The name of the column/variable attribute.
* The type of index (RangeIndex is default).
* The count of non-null values by column/attribute.
* The type of data contained in the column/attribute.
* The unqiue counts of dtypes (pandas data types).
* The memory usage of our data set.

Types affect the way data is represented in machine learning models, whether we can apply math operators to them, etc.   

Some common problems with working with a new dataset:  
* Missing values.
* Unexpected types (string/object instead of int/float).
* Dirty data (commas, dollar signs, unexpected characters, etc.).
* Blank values that are actually "non-null" or single white-space characters.

#### Summarize the data with .describe()
It gives us the following statistics:

* Count, which is equivalent to the number of cells (rows).
* Mean, or, the average of the values in the column.
* Std, which is the standard deviation.
* Min, a.k.a., the minimum value.
* 25%, or, the 25th percentile of the values.
* 50%, or, the 50th percentile of the values ( which is the equivalent to the median).
* 75%, or, the 75th percentile of the values.
* Max, which is the maximum value.  

Let's try this on a single column as well as the entire dataframe.

There are also built-in math functions that will work on all columns of a DataFrame at once, as well as subsets of the data.

#### For example, I can use the .mean() function on the titanic DataFrame to get the mean for every column.

### Reading in trickier file types

This worked well above because we `.read_csv()` expected a comma-separated file with a header row. What happens when these don't match?

What happened here? Let's Google `pandas .read_csv` to look at the documentation and troubleshoot.

We fixed part of the problem, but we still need pandas to understand we don't have a header in this file.

In [1]:
golf_cols = ["Date", "Outlook", "Temperature", "Humidity", "Windy", "Result"]

The `skiprows` and `skipfooter` arguments may also be useful if you have collaborators who make extra notes in their data files that you need to ignore.

## Pandas Indexing

#### Let's read in the drug dataset for practicing indexing

A common task is that we'll want to operate on a specific portion of our data. With indexing, we can pull out a specific part of our DataFrame.  

pandas has three properties you can use for indexing:

* **.loc** indexes with the labels for rows and columns.
* **.iloc** indexes with the integer positions for rows and columns.

#### Using the .loc indexer, let's pull out row 0 and all columns `dataframe.loc[rows, columns]`

#### What if I want multiple rows? Let's get rows 0, 1, and 2 by passing in a list

#### Can you think of a more efficient way to do this?

Note that .loc is inclusive on both sides. This is different than the behavior of some other Python functions, like `range`

#### Let's do the same thing for columns and just select the `sedative-use` and `sedative-frequency` column

#### We can pull out rows and columns. Let's pull out rows 0 through 2 and `sedative-use` and `sedative-frequency` columns.

#### We can do the same thing with the .iloc indexer. This time we use integers for the position.  Let's get all rows and columns in position 0 and 3.

#### Let's get all of the rows and columns 0 through 4 using `.iloc`

Note that `.iloc` is inclusive of the first number but exclusive of the second number. This is more like `range`.

#### Let's get the first four rows and the first two columns

### Creating DataFrames

You can create your own DataFrame without importing data from a file using pd.DataFrame() on a dictionary.  
Make sure the dictionary has lists of values that are all the same length. The keys correspond to the names of the columns, and the values correspond to the data in the columns.

#### Examine the data types

Use .dtypes on your DataFrame.

Strings are stored as a type called "object," as they are not guaranteed to take up a set amount of space (strings can be any length).

#### Rename columns

Change the column name Integers to int:

Why did we have to use `inplace` this time? Let's check the documentation. See that `inplace=False` is the default for this method. It's Pandas way of trying to protect us.

#### Rename all of the columns by assigning a list to the .columns property

## Changing data types

Load the `drinks.csv` data.

#### Check the datatypes of the dataframe

#### Change the datatype of the `beer_servings` column to floating point

## Filtering and Sorting DataFrames

#### Filter drinks to include only European countries.

First we create a series of Booleans

Then we can use this series to filter our dataframe. (This is why we see the `drinks` twice.)

#### Filter drinks to include only European countries with wine_servings > 300.

#### Filter drinks to include only countries with wine_servings > 300 or beer_servings > 300.

#### If we find ourselves gluing together a bunch of "OR" statements, we can use `.isin` to create a boolean series to pass into the dataframe

#### Calculate the mean beer_servings for all of Europe.

#### Determine which 10 countries have the highest total_litres_of_pure_alcohol.

#### Which 10 countries have the lowest total_litres_of_pure_alcohol?

Side note: This does not change the underlying data. How can we change the underlying data?

#### Let's sort by multiple columns. First sort by `beer_servings` then by `wine_servings`.

## Renaming, Adding, and Removing Columns

#### Rename `beer_servings` as `beer` and `wine_servings` as `wine` in the `drinks` DataFrame, returning a new DataFrame.

#### Perform the same renaming for `drinks`, but in place.

#### Replace the column names of drinks with `['country', 'beer', 'spirit', 'wine', 'liters', 'continent']`.

#### Replace the column names of drinks with ['country', 'beer', 'spirit', 'wine', 'liters', 'continent'] when you import the file.

#### Bonus Tip: What if we have a lot of columns where we want to replace spaces with underscores?

#### Make a `servings` column that combines `beer`, `spirit`, and `wine`.

#### Make an `mL` column that is the `liters` column multiplied by 1,000.

#### Remove the `mL` column, returning a new DataFrame.

#### Remove the `mL` and `servings` columns from drinks in place.

#### What if we want to remove rows instead of column?

## Axis parameter

#### `axis=0` goes row by row and collapses the values into the mean

#### `axis=1` goes column by column and collapses into the mean  for each row (It helps me to think of the number 1 looking like an architectural column)

#### `axis` has aliases/nicknames that are a bit more intuitive

## Handling Missing Values

#### Create a dataframe of Booleans indicating which values are missing or not missing.

#### Find the number of missing values by column in `drinks`.

#### Drop rows where ANY values are missing in `drinks` (returning a new DataFrame).

#### Drop rows only where ALL values are missing in `drinks`.

#### Filling in NaN Values. What's up with all of these NaN continents?

All of these continents are in North America (NA), and, when read in, were misinterpreted as a null or NaN value.

#### Fill in the missing values of the `continent` column using string 'NA'.

## Split-Apply-Combine

#### Find the mean beer servings across the entire `drinks` dataset

#### But what if we wanted to look at beer servings by continent? This is where`.groupby()` is useful. This filters by each continent and then calculates the mean.

Use a `.groupby()` whenever you want to analyze a dataset by some category. If you can phrase your question as "For each...", then it is a good candidate for a `.groupby()` For example, "For each continent, what is the mean beer serving?"

#### What happens if we don't specify a column? Let's find the max of all the columns

#### Using the `.agg` function we can specify multiple functions at once for our `.groupby()`

## String methods

#### You can use Python's string methods with pandas by using `.str` beore the name of the string method. Remember that many of these string methods use regular expressions.

## File Contents and Manipulation

The code in this section interacts with the operating system, so it may require some tweaking to work on your machine. Also, keep in mind that the file paths need to refer to the path on your computer.

These file paths are written in Unix/Linux style and will need adjustment if you are working from a Windows machine.

We can use the `os` module to interact with the files on our computer.

The `.rename()` method allows us to rename files.

We can also move our file while we rename it. If you don't change the name while doing this, it will just move the file to a new folder.

We can also create directories if they don't exist with the `.mdir()` module. The `.mkdirs()` module will allow us to make multiple files at once.

We can also check to see if a file or directory exists using `os.path.exists()`. This will return a Boolean (True or False).

We can use the `shutil` module to make copies of our files.

We can make copies of entire directories with the `.copytree()` method in the module.

Using the `os` module again, we can remove files, folders, and non-empty folders.

To delete a single file, we use `os.remove()`.

We can delete empty folders using `os.rmdir()`

To delete a folder and all the files in it, we use `shutil.rmtree()`

If we want to list our files and folders, we can use `os.listdir()` and input the path of the folder you want to look into as a string as the argument. If you put in "." as the path, that will give you the current working directory.

## Running External Programs from Python

If we want to run external programs through Python, we use the `subprocess()` module. (Note that we are getting into tricky territory here. 

To run an external program, we use the `subprocess.run()` function. This function takes a single string argument containing the path to the executable (program) we want to run. 

Let's try it out with a bash shell command `ls` (which will list our directories and files). We add the second argument `shell=True` to let it know we are wanting it to run as a shell command.

The output from the program will get printed to our screen. (Note we could have also passed it a list and executed a few commands). This returns the "returncode" of 0 to let us know it ran.

Let's run an external program (`ls` again) and store the output in a variable so we can do something useful with it later. For this, we'll use `subprocess.check_output()` which takes the same arguments as we saw with `subprocess.run()`.

Notice that we got multiple lines separated by newline characters (`\n`).

## Taking User Input

To interact with the program user and get their input, we can use the `input()` function. This function takes a string as its argument. 

This will get stored as a string and will have a newline character afte rit. So if you want a number, you can change the data type. And remember `.rstrip()` removes newlines if you don't want that.

When we take input from the user, we open ourselves up to new and fun errors if they don't know they are supposed to input something or input it in the wrong format. So, it's a good idea to do input validation to make sure their input makes sense. 

This sort of "defensive programming" and testing is really important to creating quality code, and we'll come back to it! We'll learn exceptions later, and that will be a better way to check our user input.

We may also want to get input from the command line. This course won't go into the command line much, but here is how we can interact with command line arguments using the `sys` module. 

Let's say we were running a command line program called `my_program` and gave it a few arguments:

`my_program one two three` 

We could get those arguments using `sys.argv`

`import sys`

`print(sys.argv)`

This would return:

`[my_program, one, two, three]`

(It first returns the name of the program, then the arguments)

# Independent Practice

### Creating a FASTA file
FASTA is a file format that is used to store DNA and protein sequence data. The header row has a greater than symbol and the accession name. There may be multiple sequences in one file.

\>sequence_one
<br>
GTTTCAAAGAT
<br>
\>sequence_two
<br>
ATCAGATCGGA
<br>
\>sequence_three
<br>
ACTGCATCGTACT


Write a Python program that will make FASTA files for the following sequences. Make sure all are in uppercase letters.

SEQ1: atcggccatctagccgg
<br>
SEQ2: ACTGTACATGTGCGCTAG
<br>
SEQ3: ccatctagcTGTAC

### Creating Multiple FASTA files
Use the sequences from the previous exercises but instead create three new files in the FASTA format (one sequence per file). The names of the files will be the same as the sequence names and end in ".fasta"

### Pandas Practice: Importing and Inspecting Data

Load the `drinks.csv` data.  

Perform the following:  

1. Print the head and tail.
2. Look at the index, columns, dtypes, and shape.
3. Assign the beer_servings column/Series to a variable.
4. Calculate summary statistics for beer_servings.
5. Calculate the mean of beer_servings.
6. Count the values of unique categories in continent. (.value_counts)
7. Print the dimensions of the drinks DataFrame.
8. Find the first three items of the value counts of the occupation column.

### Pandas Practice: Filtering

#### Using the UFO data ("ufo.csv")

1. Read in the data.
2. Check the shape and describe the columns.
3. Find the four most frequently reported colors.
4. Find the most frequent city for reports in state VA.
5. Find only UFO reports from Arlington, VA.
6. Find the number of missing values in each column.
7. Show only UFO reports where city is missing.
8. Count the number of rows with no null values.
9. Amend column names with spaces to have underscores.
10. Make a new column that is a combination of city and state.


**Bonus:** Drop rows where City or Shape Reported is missing.

### Fire Ant DNA Sequences
In the data folder there is a file called "solenopsis_invicta.txt" that contains genomic data from the Red Imported Fire Ant. Write out each DNA sequence into its own separate file. 

**Bonus:** one for sequences between 100 and 199 bases long, one for sequences between 200 and 299 bases long, etc. Write out each DNA sequence in the input files to a separate file in the appropriate folder.